{% extends "base.html" %}

{% block content %}
<h2>Actors list 2</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Surname</th>
            <th scope="col">FirstName</th>
            <th scope="col">Nationality</th>
            <th scope="col">*</th>
            <th scope="col">Deceased</th>
            <th scope="col"> + </th>

        </tr>
    <tbody>
        {% for actor in actors %}
    <tr>
        <th scope="row">{{ actor.id }}</th>
            <td>{{ actor.surname }}</td>
            <td>{{ actor.firstname }}</td>
            <td>{{ actor.nationality }}</td>
            <td>{{ actor.was_born }}</td>
            <td>{{ actor.deceased }}</td>
            <td>
            {% if actor.deceased %}
                {{ actor.died }}
            {% else %}
                 ---
            {% endif %}
    </tr>
        {% endfor %}
    </tbody>
    </thead>
</table>
{% endblock %}