{% extends "base.html" %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Rating</th>
            <th scope="col">Released</th>
        </tr>
    <tbody>
        {% for movie in movies %}
    <tr>
        <th scope="row">{{ movie.id }}</th>
            <td>{{ movie.title }}</td>
            <td>{{ movie.genre }}</td>
            <td>{{ movie.rating }}</td>
            <td>{{ movie.released }}</td>
    </tr>
        {% endfor %}
    </tbody>
    </thead>

{% endblock %}